<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SQLBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/grid.bundle.css" asp-append-version="true" />
    <script src="~/js/htmx.min.js"></script>
</head>
<body hx-boost="false">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom mb-0">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="/library">📓 SQLBook</a>
                <div class="navbar-nav">
                    <a class="nav-link text-light" href="/library">Library</a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/grid.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
